files: \.(py)$
repos:

-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.10
    hooks:
    - id: ruff-check
      args: [
      --fix,
      --unsafe-fixes,
      --target-version, "py314",
      --select, "ALL",
      --ignore, "ANN,ARG001,D,E501,FBT,FIX,PLR091,PT,S101,T20,TD,PLC0415"
      ]
    - id: ruff-format
